github "robenkleene/BubbleUp" ~> 1.0
github "robenkleene/StringPlusPath" ~> 1.0
github "robenkleene/PlainBagel" ~> 0.1
github "robenkleene/XCTestTemp" ~> 1.1
github "repla-app/SodaTaster" "7e0deaac0a3767acd2beda02c22569fa06fd0150"
